<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false" version="3.0">
    <servlet>
        <servlet-name>initServlet</servlet-name>
        <servlet-class>org.geektimes.projects.servlet.web.org.geektimes.projects.servlet.web.servlet.InitServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>initServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>forwardServlet</servlet-name>
        <servlet-class>org.geektimes.projects.servlet.web.org.geektimes.projects.servlet.web.servlet.ForwadServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forwardServlet</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>
</web-app>